
{% macro splashScreen() %}

    <div class="splash_screen active full-vhw ov-hidden flex-center p-fix top-left z-5">
        <div class="logo-box flex flex-row">
            <div class="logo ov-hidden round">
                <img src="{{asset('images/logo.png')}}" alt="aidbot logo" class="obj-fit">
            </div>
            <div class="texts orbitron ov-hidden">AidBot</div>
        </div>
    </div>

{% endmacro %}